In [4]:
name=input('Enter the name:')
rollnum=input('Enter Roll Number:')
score=int(input('Enter the mark:'))
print('Name:',name)
print('Roll number:',rollnum)
print('Mark:',score)

Enter the name:aswin
Enter Roll Number:23
Enter the mark:22
Name: aswin
Roll number: 23
Mark: 22

In [6]:
temp=int(input('Enter Temprature in Fahrenheit:'))
print('Temprature in celsius:',((temp-32)/9)*5)

Enter Temprature in Fahrenheit:41
Temprature in celsius: 5.0

In [7]:
n1=int(input('Enter Number 1:'))
n2=int(input('Enter Number 2:'))
print('The product of two numbers is:',n1*n2)

Enter Number 1:3
Enter Number 2:2
The product of two numbers is: 6

In [31]:
string='Learn Python by Developing a Website'
star='**'
new=list(string)
new.insert(5,star)
new.insert(13,star)
new.insert(31,star)
new.insert(39,star)
new= ''.join(new)
print(new)

Learn** Python** by Developing a **Website**

In [29]:
rad=int(input('Enter The Radius of Circle:'))
print('Area =', 3.14* rad**2)

Enter The Radius of Circle:2
Area = 12.56

In [39]:
num=int(input('Enter the number to be inserted:'))
pos=int(input('Enter the position to be inserted:'))
list1=[3,4]
list1.insert(pos,num)
print(list1)

Enter the number to be inserted:5
Enter the position to be inserted:1
[3, 5, 4]

In [44]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict["city"]="France"
sample_dict

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'France'}

In [49]:
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [53]:
  tuple1 = (10, 20, 43, 54, 56, 68)
  tuple2 = tuple1[2:4]
  tuple2

(43, 54)

In [55]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
tuple1.count(50)

3